.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	margin: 10px;
	padding: 20px;
	width: 100%;
	max-width: 400px;
	text-align: center;
}

.card div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 20px;
	width: 200px;
	height: 200px;
	border-radius: 50% 50%;
	background-color: #F1B8AB;
}

.card:nth-child(even) div {
	background-color: #F8F5F0;
}

.card img {
	max-width: 120px;
	max-height: 100px;
}

.card h3 {
	color: #1C1B1B;
	font-family: 'Nunito', sans-serif;;
	font-weight: 400;
}

.card p {
	color: #1C1B1B;
}

.card a {
	color: #1C1B1B;
}

@media all and (min-width: 800px) {
	.card {
		flex: 0 1 45%;
	}
}

@media all and (min-width: 1200px) {
	.card {
		flex: 0 1 30%;
	}
}